[symbols]
  regex=["USD.*", "BNB"]  # used to subscribe funds

  [symbols.bitmex]
  regex=["XBTUSD", "XBT.*"]

  [symbols.deribit]
  regex=".*"

  [symbols.ftx]
  regex=".*"

  [symbols.binance]
  regex=".*"

  [symbols.binance-futures]
  regex=".*"


[users]

  [users.MD1]
  component="fix-client"
  username="tbmd1"

  [users.MD2]
  component="fix-client"
  username="tbmd2"

  [users.OM1]
  component="fix-client"
  username="trader"
  password="secret"
  strategy_id=123
  account="A1"
  accounts="A1"

  [users.OM2]
  component="fix-client"
  username="tbom2"
  password="secret"
  strategy_id=987
  account="A2"
  accounts=["A1","A2"]


# override default mappings?

[statistics]

  [statistics.FUNDING_RATE]
  fix_md_entry_type="PRIOR_SETTLE_PRICE"

  [statistics.PRE_SETTLEMENT_PRICE]
  default_value=-1.23
  fix_md_entry_type="SETTLEMENT_PRICE"


[broadcast]
  [broadcast.index_to_all_futures]
  exchange="deribit"
  source_regex="^(\\w+)-DERIBIT-INDEX$"
  targets_regex=[
    "^(\\w+)-PERPETUAL$",
    "^(\\w+)-[\\d+]\\w+$"
  ]

[errors]

  [errors.REQUEST_RATE_LIMIT_REACHED]
  cxl_rej_reason=1139
